
Estilizar a cor de fundo do seu site como o css
body{
background-color:rgb(148, 122, 122) ;
}


 h1{
color:red;
font-family:Arial, Helvetica, sans-serif ;
background: ;
}

p{
color:wheat;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font: bleck 25px; ;
background: ;
}