
body{
background-color:rgb(0, 0, 0) ;
}


 h1{
color:red;
font-family:Arial, Helvetica, sans-serif ;
background: ;
}

p{
color:rgb(36, 35, 34);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font: bleck 25px; ;
background: ;
}