
body{
background-color:rgb(8, 43, 243) ;
}


 h1{
color:rgb(241, 15, 15);
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
background: ;
}

p{
color:rgba(221, 188, 188, 0.233);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font: 25px; ;
background: ;
}